[database]
adapter  = Mysql
host     = localhost
username = root
password = ""
dbname   = phalcon

[phalcon]
controllersDir = "../app/controllers/"
modelsDir      = "../app/models/"

[voltengines]
.volt          = "Phalcon\Mvc\View\Engine\Volt"

[view]
compiledPath        = "../app/cache/"
compliedExtension   = ".compiled"
dir                 = "../app/views/"
